body{
    font-size: 30px;
    font-family: system-ui, sans-serif;
}
.container{
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(217, 145, 52);
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
}
input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
input:focus{
    outline: none;
    border: 1px solid black;
}
.btns{
    margin-top: 30px;
}
.btn{
    padding: 20px 90px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 16px;
}
#conversionType{
    background-color: rgb(247, 246, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid black;
}
#conversionType:focus{
    outline: none;
    border: 1px solid black;
}